<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295165503133-bcf50krhhtvntjo0uf2jqddqnuju1q2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295165503133-bcf50krhhtvntjo0uf2jqddqnuju1q2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAZUBC1SZpqo10v9jahY9rl68rkH40eGn4</string>
	<key>GCM_SENDER_ID</key>
	<string>295165503133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.instagramCloneReactNative</string>
	<key>PROJECT_ID</key>
	<string>instagramclonereactnativ-6b06d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonereactnativ-6b06d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295165503133:ios:796471b4856e8b8797d674</string>
</dict>
</plist>